<div class="footer">
  <div class="copyright">
    <p>&copy 2020 - Aldiyar Nurgazin</p>
  </div>
  <div class="social">
    <a href="/registration" class="sign">Sign Up</a>
    <a href="#" class="face"><img src="../pictures/facebook.svg" alt="facebook" /></a>
    <a href="#" class="tweet"><img src="../pictures/twitter.svg" alt="twitter" /></a>
    <a href="#" class="linked"><img src="../pictures/linkedin (2).svg" alt="linked" /></a>
  </div>
</div>