<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/views/bnbEditstyle.css" />
       <script src="/index.js"></script>
      <script src="/index.js"></script>
    <title>BnB Edit</title>
</head>
<body>
    {{> header}}
    <div class="content">
        <div class="list">
            {{#each details}}
            <p>{{title}}</p>
             <a href="/edit/{{_id}}" class="button">Edit</a>
             <a href="/delete/{{_id}}" class="button">Delete</a>
            {{/each}}
        </div>
        {{> footer}}
    </div>
    
</body>
</html>