<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/dashboardstyle.css" />
    <title>Dashboard</title>
    <script src="/index.js"></script>
</head>

<body>
    {{> header}}
    <div class="content">
        <div class="mainc">
            <h1>Welcome, {{user.firstName}} {{user.lastName}},</h1>
            <h2>to the world of luxury travel!</h2>
            <p>It is very important for us that your vacation in another city,
                country or even continent will be amazing and will be remembered by
                you with wonderful impressions.</p>
            <a class="button" href="/logout">LOG OUT</a>
            {{#if user.isAdmin}}
            <a class="button" href="/bnbCreate">Add new BnB</a>
            <a class="button" href="/bnbEdit">Edit a BnB</a>
            {{/if}}
        </div>
        {{> footer}}
    </div>

</body>

</html>