@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d8d8cc;
}
.content {
  display: grid;
  grid-template-columns: 0.4fr 0.3fr 0.3fr;
  column-gap: 10px;
  row-gap: 4px;
  background-color: #d8d8cc;
}
.header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  margin: 4px;
  text-transform: uppercase;
  border: 3px solid #083b66;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5dc;
}
.header .logo {
  margin-left: 8px;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar li {
  margin-right: 15px;
  font-family: "Libre Baskerville", serif;
  color: #414649;
}
.header .button {
  border: none;
  font-family: "Libre Baskerville", serif;
  padding: 8px 25px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 1.25rem;
  background-color: #083b66;
}
.header .button:hover,
.navbar li a:hover {
  color: gray;
}
.burger {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
}
.line {
  height: 2px;
  width: 35px;
  margin: 0.5rem 0;
  background: #083b66;
  transition: transform 0.75s ease, opacity 0.75s ease;
}
.navbar.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}
.navbar.show .line2 {
  opacity: 0;
}
.navbar.show .line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
}
.navbar.show .menu {
  transform: translateX(0%);
}
@media screen and (max-width: 800px) {
  .menu {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .burger {
    display: block;
  }
  .menu {
    position: fixed;
    top: auto;
    right: 0;
    height: 70%;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #083b66;
    background-color: #d8d8cc;
    transform: translateX(100%);
    transition: transform 1s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  }
}
.footer {
  grid-column: 1/4;
  grid-row: 6/9;
  border: 3px solid #083b66;
  margin: 4px;
  display: inline-block;
  background-color: #e5e5dc;
}
.copyright {
  width: 50%;
  float: left;
}
.copyright p {
  padding-left: 10%;
  color: #083b66;
  font-size: 0.7em;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.footer img {
  width: 50px;
  height: 50px;
}
.social {
  width: 50%;
  float: right;
  margin-top: 7px;
}
.social a {
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: #414649;
  text-align: center;
  font-weight: bold;
}
.linked {
  width: 20%;
}
.face {
  width: 20%;
}
.tweet {
  width: 20%;
}
.sign {
  width: 40%;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background-color: #e5e5dc;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 3s ease-in-out;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.popup h1 {
  margin-top: 15px;
  color: #083b66;
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
}
.popup label {
  margin-top: 40px;
  font-family: "Libre Baskerville", serif;
  
  font-size: 16px;
  color: #414649;
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #0d5692;
}
.popup .content2 {
  max-height: 30%;
  overflow: auto;
  background-color: #e5e5dc;
}
.popup input[type="email"],
.popup input[type="password"] {
  font-family: "Josefin Slab", serif;
  border-radius: 4px;
  font-size: 15px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: #e8eeef;
  color: #414649;
  text-align: center;
}
.popup input[type="button"] {
  border: none;
  margin-top: 5px;
  font-family: "Libre Baskerville", serif;
  padding: 8px 10px;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
  border-radius: 4px;
  background-color: #083b66;
}
.main {
  grid-column: 1/4;
  grid-row: 2/6;
  margin: 4px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 210px 210px;
}
.img-container {
  grid-column: 2/4;
  grid-row: 1/4;
  border: 3px solid #083b66;
  padding: 0px;
  max-width: 1000px;
  max-height: 505px;
}

.descr {
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 5px;
  background-color: #e5e5dc;
  border: 3px solid #083b66;
  flex-direction: column;
  display: flex;
}
.descr h1 {
  color: #083b66;
  font-family: "Libre Baskerville", serif;
}
.descr p {
  font-family: "Libre Baskerville", serif;
  font-size: 13px;
  color: #414649;
}
.book {
  justify-content: flex-end;
  display: flex;
}
.book .button {
  border: none;
  font-family: "Libre Baskerville", serif;
  padding: 8px 25px;
  color: #fff;
  font-weight: 600;
  /* cursor: pointer; */
  margin-top: 90px;
  border-radius: 1.25rem;
  background-color: #083b66;
}
.book .button:hover {
  text-decoration: none;
  color: gray;
}
.comments {
  grid-column: 1/2;
  grid-row: 3/6;
  background-color: #e5e5dc;
  border: 3px solid #083b66;
}
.comments h1 {
  color: #083b66;
  font-family: "Libre Baskerville", serif;
}
.comments p {
  font-family: "Libre Baskerville", serif;
  font-size: 13px;
  color: #414649;
}
.service {
  grid-row: 4/6;
  grid-column: 2/4;
  background-color: #e5e5dc;
  border: 3px solid #083b66;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  padding: 5px;
}
.service .h {
  grid-column: 1/4;
  grid-row: 1/2;
  color: #083b66;
  font-family: "Libre Baskerville", serif;
}
.service p {
  font-family: "Libre Baskerville", serif;
  font-size: 13px;
  color: #414649;
}
.modal .button1 {
  border: none;
  font-family: "Libre Baskerville", serif;
  padding: 8px 25px;
  color: #fff;
  font-weight: 600;
  /* cursor: pointer; */
  border-radius: 1.25rem;
  background-color: #083b66;
}
.modal .button2 {
  border: none;
  font-family: "Libre Baskerville", serif;
  padding: 8px 25px;
  border-radius: 1.25rem;
}
.modal .button1:hover,
.modal .button2:hover {
  color: gray;
}
@media screen and (max-width: 600px) {
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .img-container{
    order: 1;
    max-width: 350px;
  }
  .descr{
    order: 2;
    max-width: 350px;
  }
  .comments{
    order: 3;
    max-width: 350px; 
  }
  .service{
    order: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
  }
  .footer {
    order: 5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding-top: 20px;
  }
  .footer .copyright {
    order: 1;
  }
  .footer .social {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .popup{
    width: 75%;
  }
}