<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="site to book hotel" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/views/homepagestyle.css" />
    <script src="/index.js"></script>
  </head>
  <body>
    <div id="login" class="overlay">
      <div class="popup">
        <h1>Welcome</h1>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <form action="#">
            <label for="email">Enter your email</label><br />
            <input type="email" id="email" name="email" /><br />
            <label for="pwd">Enter your password</label><br />
            <input type="password" id="pwd" name="pwd" /><br />
            <input type="button" type="submit" value="enter" /><br />
          </form>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="header">
        <div class="logo">
          <a href="/views/homepage.html"
            ><img
              src="../pictures/logo.png"
              style="width: 6em; height: 6em"
              alt="RoyalVacation"
          /></a>
        </div>
        <div class="navbar">
          <ul class="menu">
            <li class="selected"><a href="/views/homepage.html">Home</a></li>
            <li><a href="/views/roomlist.html">Room List</a></li>
            <li><a href="/views/registration.html">Sign Up</a></li>
            <li><a class="button" href="#login">LOG IN</a></li>
          </ul>
          <div class="burger">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
          </div>
        </div>
      </div>

      <div class="search_form">
        <h1>Let's make your travel memorable</h1>
        <form action="/views/roomlist.html">
          <select name="city" id="city">
            <option selected value>Enter City</option>
            <option value="to">Toronto, Ontario</option>
            <option value="qcq">Quebec City, Quebec</option>
            <option value="mq">Montreal, Quebec</option>
            <option value="vbc">Victoria, British Columbia</option></select
          ><br />
          <label for="check-in">Check-In</label>
          <label for="check-out">Check-out</label><br />
          <input type="date" id="check-in" name="check-in" />
          <input type="date" id="check-out" name="check-out" /><br />
          <select name="num" id="num">
            <option selected value>Number of Guests</option>
            <option value="1">One guest</option>
            <option value="2">Two guests</option>
            <option value="3">Three guests</option>
            <option value="4">Four guests</option>
            <option value="5">Five guests</option>
          </select>
          <br />
          <input class="button" type="submit" value="Search" /><br />
        </form>
      </div>
      <div class="promotion">
        <a href="#" class="montreal">
          <div>
            <h2>Montréal</h2>
            <p>
              is an amazing combination of French and English history and
              architecture.
            </p>
          </div>
        </a>
        <a href="#" class="toronto">
          <div>
            <h3>Toronto</h3>
            <p>feel the unique atmosphere of Canada's largest city.</p>
          </div>
        </a>
        <a href="#" class="quebec">
          <div>
            <h4>Québec</h4>
            <p>feel the incredible atmosphere of French port cities</p>
          </div>
        </a>
        <a href="#" class="victoria">
          <div>
            <h5>Victoria</h5>
            <p>
              visit one of the best cities in the South and North America
              according to many magazines.
            </p>
          </div>
        </a>
      </div>
      <div class="about-us">
        <div class="service">
          <img src="../pictures/nature.jpg" alt="chateau2" />
          <h2>Service</h2>
          <p>
            Our company provides users the opportunity to travel around the
            world with the highest level of comfort.
          </p>
        </div>
        <div class="why-we">
          <img src="../pictures/village2.jpg" alt="village2" />
          <h3>Why We</h3>
          <p>
            It is very important for us that your vacation in another city,
            country or even continent will be amazing and will be remembered by
            you with wonderful impressions.
          </p>
        </div>
      </div>
      <div class="footer">
        <div class="copyright">
          <p>&copy 2020 - Aldiyar Nurgazin</p>
        </div>
        <div class="social">
          <a href="/views/registration.html" class="sign">Sign Up</a>
          <a href="#" class="face"
            ><img src="../pictures/facebook.svg" alt="facebook"
          /></a>
          <a href="#" class="tweet"
            ><img src="../pictures/twitter.svg" alt="twitter"
          /></a>
          <a href="#" class="linked"
            ><img src="../pictures/linkedin (2).svg" alt="linked"
          /></a>
        </div>
      </div>
    </div>
  </body>
</html>
