<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="description" content="site to book hotel" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href="/views/homepagestyle.css" />
  <script src="/index.js"></script>
</head>

<body>
  {{> header}}
  <div class="content">
    <div class="search_form">
      <h1>Let's make your travel memorable</h1>
      <form action="/searchres" method="POST">
        <select name="city" id="city" required>
          <option selected value>Enter City</option>
          <option value="Toronto">Toronto, Ontario</option>
          <option value="Quebec">Quebec City, Quebec</option>
          <option value="Montreal">Montreal, Quebec</option>
          <option value="Victoria">Victoria, British Columbia</option>
        </select><br />
        <label for="check-in">Check-In</label>
        <label for="check-out">Check-out</label><br />
        <input type="date" id="check-in" name="check-in" required/>
        <input type="date" id="check-out" name="check-out" required/><br />
        <select name="num" id="num" required>
          <option selected value>Number of Guests</option>
          <option value="1">One guest</option>
          <option value="2">Two guests</option>
          <option value="3">Three guests</option>
          <option value="4">Four guests</option>
          <option value="5">Five guests</option>
        </select>
        <br />
        <input class="button" type="submit" value="Search" /><br />
      </form>
    </div>
    <div class="promotion">
      <a href="#" class="montreal">
        <div>
          <h2>Montréal</h2>
          <p>
            is an amazing combination of French and English history and
            architecture.
          </p>
        </div>
      </a>
      <a href="#" class="toronto">
        <div>
          <h3>Toronto</h3>
          <p>feel the unique atmosphere of Canada's largest city.</p>
        </div>
      </a>
      <a href="#" class="quebec">
        <div>
          <h4>Québec</h4>
          <p>feel the incredible atmosphere of French port cities</p>
        </div>
      </a>
      <a href="#" class="victoria">
        <div>
          <h5>Victoria</h5>
          <p>
            visit one of the best cities in the South and North America
            according to many magazines.
          </p>
        </div>
      </a>
    </div>
    <div class="about-us">
      <div class="service">
        <img src="../pictures/nature.jpg" alt="chateau2" />
        <h2>Service</h2>
        <p>
          Our company provides users the opportunity to travel around the
          world with the highest level of comfort.
        </p>
      </div>
      <div class="why-we">
        <img src="../pictures/village2.jpg" alt="village2" />
        <h3>Why We</h3>
        <p>
          It is very important for us that your vacation in another city,
          country or even continent will be amazing and will be remembered by
          you with wonderful impressions.
        </p>
      </div>
    </div>
     {{> footer}}
  </div>
</body>

</html>