<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/searchresstyle.css" />
     <script src="/index.js"></script>
    <title>Search Result</title>
</head>
<body>
    {{> header}}
    <div class="content">
      <div class="cards">
        {{#each details}}
           <a href="/details/{{_id}}" class="card">
          <div>
            <img
              src={{fileName}}
              alt="room1"
              width="400px"
              height="300px"
            />
            <h1>{{title}}</h1>
            <p>Price rate: ${{price}} CAD/night</p>
          </div>
        </a>
            {{/each}}
      </div>
        {{>footer}}
    </div>
</body>
</html>