<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/searchresstyle.css" />
     <script src="/index.js"></script>
    <title>Search Result</title>
</head>
<body>
    {{> header}}
    <div class="content">
        <div class="h1">
            <p>Search Result</p>
        </div>
        <div class="cards">
        <a href="/detailspage" class="card">
          <div>
            <img
              src="/pictures/room1.jpg"
              alt="room1"
              width="400px"
              height="300px"
            />
            <h1>Guests Room</h1>
            <p>Price rate: $60 CAD/night</p>
          </div>
        </a>
        <a href="/detailspage" class="card">
          <div>
            <img
              src="/pictures/room2.jpg"
              alt="room2"
              width="200px"
              height="300px"
            />
            <h1>Entire Apartment</h1>
            <p>Price rate: $150 CAD/night</p>
          </div>
        </a>
        <a href="/detailspage" class="card">
          <div>
            <img
              src="/pictures/room3.jpg"
              alt="room3"
              width="200px"
              height="300px"
            />
            <h1>Private Room</h1>
            <p>Price rate: $80 CAD/night</p>
          </div>
        </a>
        <a href="/detailspage" class="card">
          <div>
            <img
              src="/pictures/room4.jpg"
              alt="room4"
              width="400px"
              height="300px"
            />
            <h1>Guests Suite</h1>
            <p>Price rate: $170 CAD/night</p>
          </div>
        </a>
        <a href="/detailspage" class="card">
          <div>
            <img
              src="/pictures/room5.jpg"
              alt="room5"
              width="400px"
              height="300px"
            />
            <h1>Entire condo</h1>
            <p>Price rate: $190 CAD/night</p>
          </div>
        </a>
        <a href="/detailspage" class="card">
          <div>
            <img
              src="/pictures/room6.jpg"
              alt="room6"
              width="400px"
              height="300px"
            />
            <h1>Hotel Suite</h1>
            <p>Price rate: $150 CAD/night</p>
          </div>
        </a>
      </div>
        {{>footer}}
    </div>
</body>
</html>