<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/searchresstyle.css" />
     <script src="/index.js"></script>
    <title>Search Result</title>
</head>
<body>
    {{> header}}
    <div class="content">
        {{#each details}}
            <p>{{title}}</p>
            {{/each}}
        {{>footer}}
    </div>
</body>
</html>